<html>

    <head>
    <style>
    body 
    {
      background-image: url("../../assets/images/hero-bg.jpg");
      background-repeat: no-repeat;
      /* margin-left: 10px; */
      /* width:1682px; */
      /* width:1682px; */


    }
    </style>
    </head>


<!-- <mat-form-field hideRequiredMarker="true" class="form-container">
  <input matInput type="email"  required name="admin_id1"  #admin_id1="ngModel" [(ngModel)]="faculty_id"    placeholder="Enter your email" >
  <mat-error *ngIf="admin_id1.hasError('required')">its required</mat-error>
   <mat-error *ngIf="!admin_id1.hasError('required')">email is invalid</mat-error>

</mat-form-field>

<br>
<br>

<mat-form-field>
  <input matInput type="text" name="password1"  #password1="ngModel" [(ngModel)]="password" required   placeholder="Enter your password" [type]="hide ? 'password' : 'text'" maxlength="10" hintLabel="Max 10 characters">
  <mat-error *ngIf="password1.hasError('required')">its required</mat-error>
  <mat-error></mat-error> -->
   <!-- <mat-hint align="end">{{password1.value?.length || 0}}/10</mat-hint>
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
</mat-form-field>








          <div class="row">
            <div class="col-sm-1">
              <button class="btn btn-group  btn-primary form-control" (click)="onLogin()">SAVE</button>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-default btn-danger form-control" (click)="onforget()">FORGET</button>
            </div>
</div>
 -->



<html>
  <head></head>
  <body>
      <mat-card-content>
          <mat-toolbar> 
            <mat-card-title style="margin-top:-64px;margin-left:-15px;">
              <mat-toolbar style="position: fixed;background-color:rgb(233,30,99);color:white" >MATHS ACADEMY</mat-toolbar></mat-card-title>
          </mat-toolbar>
          
        <!-- <span>MATHS ACADEMY</span> -->
        </mat-card-content>
        
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
     <form class="form-container">
        <img src="../../assets/ma1.png" style="height:60px;width:60px;margin-left: 180px;margin-top:-30px;border-radius: 50px;">
       <h1 align="center" style="font-family: Arial, Helvetica, sans-serif">MATHS ACADEMY</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label><br>
      <mat-form-field hideRequiredMarker="true">

          <input matInput  type="email" class="example-full-width"  required name="admin_id1" #admin_id1="ngModel" [(ngModel)]="email_id"    placeholder="Enter your email" >
          <mat-error style="font-size:20px;" *ngIf="admin_id1.hasError('required')">REQUIRED</mat-error>
           <mat-error *ngIf="!admin_id1.hasError('required')">email is invalid</mat-error>
</mat-form-field>


    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label><br>
      <mat-form-field >
          <input style="font-size: 15px;color:blueviolet" matInput [type]="hide ? 'password' : 'text'" name="password1"  #password1="ngModel" [(ngModel)]="password" required   placeholder="Enter your password" [type]="hide ? 'password' : 'text'" maxlength="10" hintLabel="Max 10 characters">
          <mat-error style="font-size:20px;" *ngIf="password1.hasError('required')">REQUIRED</mat-error>
          <mat-error></mat-error>
            <mat-hint align="end">{{password1.value?.length || 0}}/10</mat-hint>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    </div>

    <button type="submit" style="font-size:10px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px ;border-top-left-radius: 15px;border-top-right-radius: 15px" class="btn btn-success btn-block" (click)="onLogin()">LOGIN</button>
    <h5 style="margin-top:40px  " ><a style="font-size:20px;color:blue" (click)="onforget()">FORGET PASSWORD?</a></h5>
  </form>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
  </div>
  </div>
  </div>

</body>
</html>

