<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="imgBx">
                <img src="../../../assets/img/img-thumb-1.jpg">
            </div>
            <div class="contentBx">
                <h1>Bunnydon</h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente odit ullam quisquam alias eveniet suscipit cum, fugiat, laudantium impedit ex nulla a amet fuga tempore deserunt facilis dignissimos natus! Tempore!
            </div>
        </div>
    </div>
</body>
</html>