<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">

                            <div class="post-image">
                                <img src="../../../assets/img/img-thumb-1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <h2 class="post-header">Title</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus molestiae ullam
                                    tempora molestias esse magni amet odit est, natus reprehenderit, totam qui.
                                    Molestias
                                    aperiam vel nulla sint a distinctio rem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">

                            <div class="post-image">
                                <img src="../../../assets/img/img-thumb-1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <h2 class="post-header">Title</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus molestiae ullam
                                    tempora molestias esse magni amet odit est, natus reprehenderit, totam qui.
                                    Molestias
                                    aperiam vel nulla sint a distinctio rem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">

                            <div class="post-image">
                                <img src="../../../assets/img/img-thumb-1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <h2 class="post-header">Title</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus molestiae ullam
                                    tempora molestias esse magni amet odit est, natus reprehenderit, totam qui.
                                    Molestias aperiam vel nulla sint a distinctio rem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>