<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Design</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
</head>
<body>
    <header class="main-header">
        <h1><span>Normal design</span> For News</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </header>
    <main class="container">
        <section class="card">
            <img src="../../../assets/img/img-lg-1.jpg" alt="image loading">
            <div>
                <h3>Div number one</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni autem ipsa voluptatum quae esse dicta maxime exercitationem recusandae? Tenetur eligendi iure placeat ipsum quibusdam nobis. Error enim accusamus beatae facilis.
                </p>
                <a href="#" class="btn">Click</a>
            </div>
        </section>
        <section class="card">
            <img src="../../../assets/img/img-lg-2.jpg" alt="image loading">
            <div>
                <h3>Div number two</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni autem ipsa voluptatum quae esse dicta maxime exercitationem recusandae? Tenetur eligendi iure placeat ipsum quibusdam nobis. Error enim accusamus beatae facilis.
                    
                </p>
                <a href="#" class="btn">Click</a>
            </div>
        </section>
        <section class="card">
            <img src="../../../assets/img/img-lg-3.jpg" alt="image loading">
            <div>
                <h3>Div number three</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni autem ipsa voluptatum quae esse dicta maxime exercitationem recusandae? Tenetur eligendi iure placeat ipsum quibusdam nobis. Error enim accusamus beatae facilis.
                    
                </p>
                <a href="#" class="btn">Click</a>
            </div>
        </section>
        <section class="card">
            <img src="../../../assets/img/img-lg-1.jpg" alt="image loading">
            <div>
                <h3>Div number four</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni autem ipsa voluptatum quae esse dicta maxime exercitationem recusandae? Tenetur eligendi iure placeat ipsum quibusdam nobis. Error enim accusamus beatae facilis.
                    
                </p>
                <a href="#" class="btn">Click</a>
            </div>
        </section>
        <section class="card">
            <img src="../../../assets/img/img-lg-2.jpg" alt="image loading">
            <div>
                <h3>Div number five</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni autem ipsa voluptatum quae esse dicta maxime exercitationem recusandae? Tenetur eligendi iure placeat ipsum quibusdam nobis. Error enim accusamus beatae facilis.
                    
                </p>
                <a href="#" class="btn">Click</a>
            </div>
        </section>
    </main>
    
    <!-- <script>
      AOS.init();
    </script> -->
</body>
</html>