
		<header id="header" style="border:1px solid red">
			
			<div id="center-header">
				<div class="container">
					<div class="header-logo">
                        
						<a href="#" class="logo"><img src="../../assets/img/logo.png" alt=""></a>
					</div>

					<div class="header-ads">
					<app-weather></app-weather> 
					</div>

				</div>
			</div>
			<!-- /Center Header -->
			
			<!-- Nav Header -->
			<div id="nav-header">
				<div class="container">
					<nav id="main-nav">
						<div class="nav-logo">
							<a href="#" class="logo"><img src="../../assets/img/logo-alt.png" alt=""></a>
						</div>
						<ul class="main-nav nav navbar-nav">
							<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/"   >Home</a></li>
							<li routerLinkActive="active"><a routerLink="/business" href="">Buisness</a></li>
							<li routerLinkActive="active"><a routerLink="/entertainment" href="">Entertainment</a></li>
							<li routerLinkActive="active"><a routerLink="/general" href="">General</a></li>
							<li routerLinkActive="active"><a routerLink="/health" href="">Health</a></li>
							<li routerLinkActive="active"><a routerLink="/science" href="">Science</a></li>
							<li routerLinkActive="active"><a routerLink="/sports" href="">Sports</a></li>
							<li routerLinkActive="active"><a routerLink="/technology" href="">Technology</a></li>
						</ul>
					</nav>
					<div class="button-nav">
						<button class="search-collapse-btn"><i class="fa fa-search"></i></button>
						<button class="nav-collapse-btn"><i class="fa fa-bars"></i></button>
						<div class="search-form">
							<form>
								<input class="input" type="text" name="search" placeholder="Search">
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /Nav Header -->
		</header>
