<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>

</script>
	
		<header id="header" >

			
			<div id="center-header">
				<div class="container">
					<div class="header-logo">
                        
						
						
					</div>

					<div class="header-ads">
					<app-weather></app-weather> 
					</div>

				</div>
			</div>
			<!-- /Center Header -->
			
			<!-- Nav Header -->
			
			<div class="topnav" id="myTopnav">
				<div class="container">
				<a routerLink="/">Home</a>
				<a routerLink="/business" href="">Buisness</a>
				<a routerLink="/entertainment" href="">Entertainment</a>
				<a routerLink="/general" href="">General</a>
				<a routerLink="/health" href="">Health</a>
				<a routerLink="/science" href="">Science</a>
				<a routerLink="/sports" href="">Sports</a>
				<a routerLink="/technology" href="">Technology</a>
				<a routerLink="/interest" href=""><i class="fa fa-plus"></i>&nbsp;Add Your Interest</a>
				<a routerLink="/addsource" href=""><i class="fa fa-plus"></i>&nbsp;Popular sources</a>
				
				<!-- <a href="javascript:void(0);" class="icon" (click)="myFunction()">
				  <i class="fa fa-bars"></i>
				</a>
				<a class="icon" (click)="flag=!flag"><i class="fa fa-search"></i></a>
			
				<div class="desktop-search-btn">
					<a  (click)="flag=!flag"><i class="fa fa-search"></i></a>
				</div>
				
			  </div>
			  
			  <div [class]="flag?'search-form search-collapse div1':'search-form'" >
				<form>
					<input class="input" type="text" name="search" placeholder="Search">
				</form>
			</div> -->
				</div>
			  </div>
	<div class="divWeather">
					<app-weather></app-weather>
				</div>
			   	
			<!-- /Nav Header -->
		</header>
		
