  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
  
  </script>
    
      <header id="header" >
  
        
        <div id="center-header">
          <div class="container">
            <div class="header-logo">
                          
              
              
            </div>
  
            <div class="header-ads">
            <app-weather></app-weather> 
            </div>
  
          </div>
        </div>
  
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          
          <li id="ho"><a routerLink="/" (click)="onClickHo()">Home</a></li>
          <li class="dropdown" id="drp">
            <a href="#" class="dropdown-toggle" (click)="onClickDrp()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cateogry <span class="caret"></span></a>
            <ul class="dropdown-menu mega-menu " style="background-color:#333;color:white">




              <div class="row">
                <div class="col-md-4" >
                  <p><strong class="sub-menu-heading">News Cateogries</strong></p>
                  <a routerLink="/business" href=""><li> <img src="../../../assets/img/header/undraw_finance_0bdk.svg" style="border-radius: 50%;" height="60px" width="60px">&nbsp;&nbsp;Buisness</li></a>
				          <a routerLink="/sports" href=""><li><img src="../../../assets/img/header/sports.svg" style="border-radius: 50%;" height="60px" width="60px">&nbsp;&nbsp;Sports</li></a>
				          <a routerLink="/general" href=""><li><img src="../../../assets/img/header/general.svg"  height="60px" width="60px" >&nbsp;&nbsp;General</li></a>
				          <a routerLink="/health" href=""><li><img src="../../../assets/img/header/health.svg"  height="60px" width="60px" >&nbsp;&nbsp;Health</li></a>
				          <a routerLink="/science" href=""><li><img src="../../../assets/img/header/science.svg"  height="60px" width="60px" >&nbsp;&nbsp;Science</li></a>
				          <a routerLink="/entertainment" href=""><li><img src="../../../assets/img/header/entertainment.svg"  height="60px" width="60px" >&nbsp;&nbsp;Entertainment</li></a>
                  <a routerLink="/technology" href=""><li><img src="../../../assets/img/header/Technology.svg"  height="60px" width="60px" >&nbsp;&nbsp;Technology</li></a>
                  
                 
                     </div>
                    
                <div class="col-md-4" style="border-right:1px solid white;border-left:1px solid white  ;">
                  <p><strong class="sub-menu-heading">Channel</strong></p>
                  <a routerLink="/sourcedetail/abc-news" href=""><li><img src="../../../assets/img/abc.png"  height="50px" width="50px" >&nbsp;&nbsp;Abc News</li></a>
                  <a routerLink="/sourcedetail/bbc-news" href=""><li><img src="../../../assets/img/bbc.png"  height="50px" width="50px" >&nbsp;&nbsp;BBC News</li></a>
                  <a routerLink="/sourcedetail/buzzfeed" href=""><li><img src="../../../assets/img/buzzfeed.jpg"  height="50px" width="50px" >&nbsp;&nbsp;BuzzFeed News</li></a>
                  <a routerLink="/sourcedetail/cnn" href=""><li><img src="../../../assets/img/cnn.png"  height="50px" width="50px" >&nbsp;&nbsp;CNN News</li></a>
                  <a routerLink="/sourcedetail/espn_cric_info" href=""><li><img src="../../../assets/img/espn.png"  height="50px" width="50px" >&nbsp;&nbsp;ESPN News</li></a>
                  <a routerLink="/sourcedetail/fox_news" href=""><li><img src="../../../assets/img/fox.jpg"  height="50px" width="50px" >&nbsp;&nbsp;Fox News</li></a>
                  <a routerLink="/sourcedetail/mtv_news" href=""><li><img src="../../../assets/img/mtv.png"  height="50px" width="50px" >&nbsp;&nbsp;Mtv News</li></a>
                  <a routerLink="/sourcedetail/nbc_news" href=""><li><img src="../../../assets/img/nbc.png"  height="50px" width="50px" >&nbsp;&nbsp;NBC News</li></a>
                  <a routerLink="/sourcedetail/news24" href=""><li><img src="../../../assets/img/news24.jpg"  height="50px" width="50px" >&nbsp;&nbsp;NEWS 24</li></a>
                </div>
                <div class="col-md-4">
                  <p><strong class="sub-menu-heading">Country</strong></p>
                  <a routerLink="/country/aus" href=""><li><img src="../../../assets/img/country/aus.png"  height="50px" width="60px" >&nbsp;&nbsp;Australia</li></a>
                  <a routerLink="/country/usa" href=""><li><img src="../../../assets/img/country/usa.png"  height="50px" width="60px" >&nbsp;&nbsp;Usa</li></a>
                  <a routerLink="/country/jap" href=""><li><img src="../../../assets/img/country/jap.png"  height="50px" width="60px" >&nbsp;&nbsp;Japan</li></a>
                  <a routerLink="/country/rus" href=""><li><img src="../../../assets/img/country/russia.png"  height="50px" width="60px" >&nbsp;&nbsp;Russia</li></a>
                  <a routerLink="/country/china" href=""><li><img src="../../../assets/img/country/china.png"  height="50px" width="60px" >&nbsp;&nbsp;China</li></a>
                  <a routerLink="/country/newzea" href=""><li><img src="../../../assets/img/country/newzea.png"  height="50px" width="60px" >&nbsp;&nbsp;NewZeland</li></a>
                  <a routerLink="/country/can" href=""><li><img src="../../../assets/img/country/can.png"  height="50px" width="60px" >&nbsp;&nbsp;Canada</li></a>
                  <a routerLink="/country/malaysia" href=""><li><img src="../../../assets/img/country/malaysia.png"  height="50px" width="60px" >&nbsp;&nbsp;Malaysia</li></a>
                  <a routerLink="/country/france" href=""><li><img src="../../../assets/img/country/france.png"  height="50px" width="60px" >&nbsp;&nbsp;France</li></a>
                </div>
              </div> 









  			
            </ul> 


           
          </li>
          <li id="in"><a routerLink="/interest" (click)="onClickIn()">intrests</a></li>
          <li id="de" *ngIf="_global.header_flag"><a routerLink="/design" (click)="onClickde()">View Intrested News</a></li>
          <li id="lik" *ngIf="_global.like_flag"><a routerLink="/likedposts" (click)="onClicklik()">View Liked News</a></li>
          <li *ngIf="log_flag"><a (click)="onLogOut()">Log Out</a></li>
          <li *ngIf="!log_flag"><a (click)="onSignIn()">Sign In</a></li>
        </ul>
        <form class="navbar-form navbar-right">

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <!-- <ul class="nav navbar-nav navbar-right">
          
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  


  <div class="divWeather">
    <app-weather></app-weather>
  </div>
     
<!-- /Nav Header -->
</header>
  
  