*{
  font-size: large;
}






.collapse ul li a:hover
{
    background-color: #EF233C;
    color: white;
}
.navbar-nav>.active>a
{
  background-image: none;
  background-color: #EF233C;
  color: white;
}
/* .active
{
  background-image: none;
  background-color: #EF233C;
  color: white;
} */


/* CSS Document */
.mega-menu{width: 1000px; overflow: hidden; padding: 10px;}
.mega-menu a{text-decoration: none; color: white;}
.mega-menu li{padding:10px;}
.mega-menu li:hover{
  background-color: #EF233C;
}
.mega-menu .sub-menu-heading{ color: white;}
@media(max-width:500px){
	.mega-menu{width: 300px;}
}

.divWeather
{
  display:none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .divWeather
  {
    display:block;
    padding:20px 0px 20px 40px;
     /* margin: 20px auto   20px auto; */
    
  }
}
