<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container" *ngIf="item === 'aus'">
        <div class="main-header">
            <h1><span>Latest </span> Australia News</h1>
            
        </div>
        <div *ngFor="let item of aus">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="container" *ngIf="item === 'usa'">
        <div class="main-header">
            <h1><span>Latest </span> USA News</h1>
            
        </div>
        <div *ngFor="let item of usa">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="container" *ngIf="item === 'malaysia'">
        <div class="main-header">
            <h1><span>Latest </span> Malaysia News</h1>
            
        </div>
        <div *ngFor="let item of malaysia">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container" *ngIf="item === 'france'">
        <div class="main-header">
            <h1><span>Latest </span> France News</h1>
            
        </div>
        <div *ngFor="let item of france">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container" *ngIf="item === 'newzea'">
        <div class="main-header">
            <h1><span>Latest </span> New zealand News</h1>
            
        </div>
        <div *ngFor="let item of newzea">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container" *ngIf="item === 'rus'">
        <div class="main-header">
            <h1><span>Latest </span> Russia News</h1>
            
        </div>
        <div *ngFor="let item of rus">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container" *ngIf="item === 'can'">
        <div class="main-header">
            <h1><span>Latest </span> Canada News</h1>
            
        </div>
        <div *ngFor="let item of can">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container" *ngIf="item === 'jap'">
        <div class="main-header">
            <h1><span>Latest </span> Japan News</h1>
            
        </div>
        <div *ngFor="let item of jap">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container" *ngIf="item === 'china'">
        <div class="main-header">
            <h1><span>Latest </span> China News</h1>
       
        </div>
        <div *ngFor="let item of china">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <div class="card">
                    <img src="{{item.urlToImage}}" alt="image loading">
                    <div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn">SHARE</a>
                    </div>
                </div>
            </a>
        </div>
    </div>

</body>

</html>