
@media only screen and (min-width: 600px) {
    .slide1
    {
        width:50%;
        height: 100%;
        display: inline-block;
    }  
    .slide1 .article-img
    {
        height: 100%;
    }
    .mobile
    {
        display: none;
    }
  } 



  @media only screen and (max-width: 600px) {
    
    .desktop
    {
        display: none;
    }
    .article
    {
        height: 30em;
        background-color: black;
    }
    
  } 
