<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container1">
            <div class="row">
                <div class="col-md-4">
                    <a routerLink="/country/aus" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/aus.png" height="300px" width="350px">
                                <div class="centered">Australia</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/country/usa" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/usa.png" height="300px" width="350px">
                                <div class="centered">Usa</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/country/jap" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/jap.png" height="300px" width="350px">
                                <div class="centered">Japan</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-md-4">
                    <a routerLink="/country/rus" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/russia.png" height="300px" width="350px">
                                <div class="centered">Russia</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/country/china" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/china.png" height="300px" width="350px">
                                <div class="centered">China</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/country/newzea" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/newzea.png" height="300px" width="350px">
                                <div class="centered">New Zeland</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-md-4">
                    <a routerLink="/country/can" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/can.png" height="300px" width="350px">
                                <div class="centered">Canada</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/country/malaysia" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/malaysia.png" height="300px" width="350px">
                                <div class="centered">Malaysia</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/country/france" href="">
                        <div class="box">
                            <div class="imgBx">
                                <img src="../../../assets/img/country/france.png" height="300px" width="350px">
                                <div class="centered">France</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>