<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <a routerLink="/country/aus" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/aus.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/usa" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/usa.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/jap" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/jap.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/rus" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/russia.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/china" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/china.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/newzea" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/newzea.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/can" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/can.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/malaysia" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/malaysia.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/country/france" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/country/france.png" height="300px" width="350px">
                </div>
            </div>
        </a>
    </div>
</body>

</html>