<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" *ngIf="item === 'yoga'">
        <div class="main-header">
            <h1><span>Latest </span> Yoga News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of yoga">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>

    <div class="container" *ngIf="item === 'lifestyle'">
        <div class="main-header">
            <h1><span>Latest </span> lifestyle News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of lifestyle">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>

    <div class="container" *ngIf="item === 'covid'">
        <div class="main-header">
            <h1><span>Latest </span> covid News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of covid">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>


    
    <div class="container" *ngIf="item === 'startups'">
        <div class="main-header">
            <h1><span>Latest </span> startups News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of startups">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>



    <div class="container" *ngIf="item === 'science'">
        <div class="main-header">
            <h1><span>Latest </span> science News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of science">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>


    
    <div class="container" *ngIf="item === 'politics'">
        <div class="main-header">
            <h1><span>Latest </span> politics News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of politics">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>

   
    <div class="container" *ngIf="item === 'finance'">
        <div class="main-header">
            <h1><span>Latest </span> finance News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of finance">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>

   
    <div class="container" *ngIf="item === 'food'">
        <div class="main-header">
            <h1><span>Latest </span> food News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of food">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>

    <div class="container" *ngIf="item === 'travel'">
        <div class="main-header">
            <h1><span>Latest </span> travel News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of travel">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>


    <div class="container" *ngIf="item === 'fashion'">
        <div class="main-header">
            <h1><span>Latest </span> fashion News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of fashion">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>

   
    <div class="container" *ngIf="item === 'investing'">
        <div class="main-header">
            <h1><span>Latest </span> investing News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of investing">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>
  
    <div class="container" *ngIf="item === 'stock'">
        <div class="main-header">
            <h1><span>Latest </span> stock News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of stock">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>
  
 
    <div class="container" *ngIf="item === 'movies'">
        <div class="main-header">
            <h1><span>Latest </span> movies News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of movies">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>
  
 
    <div class="container" *ngIf="item === 'Trump'">
        <div class="main-header">
            <h1><span>Latest </span> Donald Trump News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of donaldTrump">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>
  

    
    <div class="container" *ngIf="item === 'Psychology'">
        <div class="main-header">
            <h1><span>Latest </span> Psychology News</h1>
            <p> "Yoga is the journey of the self, through the self, to the self."</p>
        </div>
        <div *ngFor="let item of Psychology">
            <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
            <div class="card">
                <img src="{{item.urlToImage}}" alt="image loading">
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <a href="#" class="btn">LIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        </a>
        </div>
    </div>
  

</body>

</html>