<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div class="box" *ngIf="item === 'yoga'">
        <div class="imgBx">
            <img src="../../../assets/img/img-thumb-1.jpg">
        </div>
        <div class="content">
            <h2>Bunnydon shah<br><span>Creative Design</span></h2>
        </div>
    </div> -->
    <div class="container" *ngIf="item === 'yoga'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of yoga;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{yoga[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{yoga[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{yoga[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{yoga[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'lifestyle'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of lifestyle;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{lifestyle[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{lifestyle[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{lifestyle[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{lifestyle[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'covid'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of covid;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{covid[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{covid[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{covid[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{covid[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'startups'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of startups;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{startups[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{startups[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{startups[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{startups[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'science'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of science;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{science[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{science[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{science[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{science[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'politics'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of politics;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{politics[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{politics[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{politics[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{politics[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'finance'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of finance;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{finance[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{finance[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{finance[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{finance[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'food'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of food;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{food[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{food[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{food[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{food[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'travel'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of travel;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{travel[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{travel[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{travel[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{travel[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'fashion'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of fashion;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{fashion[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{fashion[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{fashion[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{fashion[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'investing'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of investing;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{investing[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{investing[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{investing[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{investing[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'stock'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of stock;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{stock[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{stock[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{stock[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{stock[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'movies'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of movies;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{movies[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{movies[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{movies[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{movies[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'Trump'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of donaldTrump;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{donaldTrump[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{donaldTrump[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{donaldTrump[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{donaldTrump[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="item === 'Psychology'">
        <div class="row" style="width: 95%;margin: auto;">
            <div *ngFor="let item of Psychology;let i=index;">
                <div
                    [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'">
                    <mat-card class="example-card">
                        <a href="{{Psychology[i].url}}" target="_blank" style="text-decoration: none;color: black;">
                            <mat-card-header>

                                <mat-card-title>{{Psychology[i].title}}</mat-card-title>

                            </mat-card-header>

                            <img mat-card-image src="{{Psychology[i].urlToImage}}" alt="Photo of a Shiba Inu">

                            <mat-card-content>
                                <p style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">
                                    {{Psychology[i].description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary">LIKE</button>
                                <button mat-button color="primary">SHARE</button>
                            </mat-card-actions>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="box" *ngIf="item === 'Trump'">
        <div class="imgBx">
            <img src="../../../assets/img/img-thumb-1.jpg">
        </div>
        <div class="content">
            <h2>Bunny chirag shah<br><span>Creative Design</span></h2>
        </div>
    </div>
    <div class="box" *ngIf="item === 'Psychology'">
        <div class="imgBx">
            <img src="../../../assets/img/img-thumb-1.jpg">
        </div>
        <div class="content">
            <h2>Bunny chiragdon shah<br><span>Creative Design</span></h2>
        </div>
    </div> -->
</body>

</html>