<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-4 col-sm-4">
                        <article class="article" style="height: 25em;">
                            <div class="article-img">
                                <a routerLink="/design/yoga" href="">
                                    <img src="../../../assets/img/yoga.jpg" style="height: 15em;" alt="Image Loading...">
                                    <div class="centered">Yoga</div>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <article class="article" style="height: 25em;">
                            <div class="article-img">
                                <a routerLink="/design/Trump" href="">
                                    <img src="../../../assets/img/trump.jpg" style="height: 15em;" alt="Image Loading...">
                                    <div class="centered">Donald Trump</div>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <article class="article" style="height: 25em;">
                            <div class="article-img">
                                <a routerLink="/design/Psychology" href="">
                                    <img src="../../../assets/img/pyscology.jpg" style="height: 15em;" alt="Image Loading...">
                                    <div class="centered">Psychology</div>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>