@media only screen and (max-width: 600px) {
  .col-md-4{
    padding-bottom: 150px;
  }
}


@media only screen and (min-width: 600px) {
  .container1 .box{
    margin: 60px 0;
  }
}



.centered {
  color: white;
  font-size:x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.corner {
  
  
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}
/* *{
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */
/* body{
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
} */
.container1
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-style: preserve-3d;
}
.container1 .box
{
  position: relative;
  width: 350px;
  height: 200px;
  /* margin: 60px 0; */
  background: white;   
  transform-style: preserve-3d;
}
.container1 .box:hover{
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}
.container1 .box .imgBx
{
  position: absolute;
  top: 0;
  left: 0;
}
.container1 .box .contentBx
{
  position: absolute;
  width: 400px;
  top:120%;
  left: 10%;
  right: 50px;
  background: #fff;
  transform: translateZ(20px) scaleY(0);
  padding: 40px 25px;
  transform-origin: top;
  transition: 0.5s;
  transform-style: preserve-3d;
}
.container1 .box:hover .contentBx
{
  transform: translateZ(30px) scaleY(1);
}