<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
   
    <div class="container-fluid">

        <div class="container1">
            <div class="row" >
                
                <div class="col-md-4" *ngFor="let item of intrests;let i=index">
                    <!-- <a routerLink="/design/{{item.cat_img}}" href=""> -->
                        <div class="box">
                            <div class="imgBx">
                                <img src="http://localhost:3000/images/{{item.cat_img}}.jpg" height="300px" width="350px">
                                
                                <div class="centered">{{item.category_name}}</div>
                                
                                    <button (click)="clickIn(item,i)"  class="corner" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                        <mat-icon>{{(Count_arr[i]%2) ? 'done' : 'add'}}</mat-icon>
                                       
                                      </button>
                                   
                                
                            </div>
                        </div>
                    <!-- </a> -->

                </div>

                 
            
            </div>
        </div>
       
    </div>
    <button mat-raised-button [disabled]="!Selected_intrest.length" (click)="StartButton()" color="primary" style="margin-top: 10%; margin-left: 50%;height:60px;">Start Reading</button>


</body>
</html>