<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <a routerLink="/sourcedetail/abc-news" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/abcnews_pearl_stacked.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/bbc-news" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/bbc.jpg" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/buzzfeed" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/buzzfeed.jpg" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/cnn" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/cnn.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/espn_cric_info" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/espn.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/fox_news" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/fox.jpg" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/mtv_news" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/mtv.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/nbc_news" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/nbc.png" height="300px" width="350px">
                </div>
            </div>
        </a>
        <a routerLink="/sourcedetail/news24" href="">
            <div class="box">
                <div class="imgBx">
                    <img src="../../../assets/img/news24.jpg" height="300px" width="350px">
                </div>
            </div>
        </a>
    </div>
</body>

</html>