<!DOCTYPE html>
 <html lang="en">
 
 <head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>Document</title>
 </head>
 
 <body>
 
	 <div class="container-fluid">
		 <div class="row">
			 <div *ngFor="let item of technology;let i=index;">
				 <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
					 <div [class]="(((i%12)==3 || (i%12)==7 || (i%12)==11 ) && (i%12)>=3)?'col-md-6':((i%12)<3)?'col-md-4':'col-md-3'"
						 style="padding-top: 50px;">
						 <div class="card example-card">
 
							 <div class="post-image">
								 <img src="{{item.urlToImage}}" alt="" class="img-responsive">
							 </div>
							 <div class="news-content">
								 <h2 class="post-header">{{item.title}}</h2>
								 <p>{{item.description}}</p>
							 </div>
						 </div>
					 </div>
				 </a>
			 </div>
		 </div>
	 </div>
 
 </body>
 
 </html>